@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(221, 221, 221);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #1d52ff;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    position: relative;
}

.menu li a {
    display: block;
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu li:hover {
    background: #1d52ff;
}

/* Quando o mouse passa sobre a li ela modifica o componente que neste caso é o submenu */
.menu > li:hover > .submenu,
.submenu > li:hover > .submenu  {
    display: block;
}


.submenu {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #1d52ff;
    min-width: 100%;
}

.submenu li:hover {
    background-color: #174fbe;
    border: 2px solid white;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}